<div class="wrapper flush order_step">
  <div class="wrapperSection">
    <h3>Service address</h3>
    <p>Your service address will allow us to determine if your area is serviceable by our network.</p>

    <div id="error" class="ng-hide"></div>
    <form id="form-service_address" name=addressForm>
      <fieldset>
        <div class="fieldgroup fullWide">
          <label for="address">Address</label>
          <input type="text"
            name="address"
            ng-model="servAddress.address.address"
            required>

          <div ng-show='addressForm.address.$dirty && addressForm.address.$invalid' class="validation-advice animate-show" role="alert">
            <div ng-show="addressForm.address.$error.required">This field is required.</div>
          </div>
        </div>
        <div class="clear"></div>

        <div class="fieldgroup fullWide">
          <label for="city">City</label>
          <input type="text"
            name="city"
            ng-model="servAddress.address.city"
            required>

          <div ng-show='addressForm.city.$dirty && addressForm.city.$invalid' class="validation-advice animate-show" role="alert">
            <div ng-show="addressForm.city.$error.required">This field is required.</div>
          </div>
        </div>
        <div class="clear"></div>

        <country-states value="servAddress.address.countryState"></country-states>

        <div class="fieldgroup halfWide">
          <label for="postal_code">Zip code</label>
          <input type="text"
            name="postalCode"
            ng-model="servAddress.address.postalCode"
            required>

          <div ng-show='addressForm.postalCode.$dirty && addressForm.postalCode.$invalid' class="validation-advice animate-show" role="alert">
            <div ng-show="addressForm.postalCode.$error.required">This field is required.</div>
          </div>
        </div>
      </fieldset>

      <div class="buttons">
        <button ng-click="servAddress.submit()" name="done" class="enabledSubmit" ng-disabled="addressForm.$invalid">Next step</button>
      </div>
    </form>
  </div>
</div>

<serv-address-popup address="servAddress.address" submitted="servAddress.submitted" ng-if="servAddress.submitted"></serv-address-popup>
