<header>
  <a href="#content" class="skipNav">Skip navigation</a>
  <div class="helperNav">
    <div class="container">
      <nav id="propertiesNav" class="indicatorNav">
        <ul>
          <li class=" active">
            <a href="#">
            Mobile
            </a>
          </li>
          <li>
            <a href="#">
            Internet
            </a>
          </li>
        </ul>
      </nav>
      <nav id="globalNav">
        <ul>
          <li>
            <a href="#">
            Blog
            </a>
          </li>
          <li>
            <a href="#">
            About
            </a>
          </li>
          <li class=" subnavParent active">
            <button class="trigger">
              Help
              <span class="downarrow">
                <svg role="img" class=" iconSvg" title="" width="7" height="7">
                  <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointDown" />-->
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointDown"></use>
                </svg>
              </span>
            </button>
          </li>
          <li class=" subnavParent" id="followsWidget">
            <button class="trigger">
              Follow
              <span class="totalCount">(109,000+)</span>
              <span class="downarrow">
                <svg role="img" class=" iconSvg" title="" width="7" height="7">
                  <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointDown" />-->
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointDown"></use>
                </svg>
              </span>
            </button>
          </li>
          <li class=" subnavParent" id="topmenu_account">
            <button class="trigger">
              Your Account
              <span class="downarrow">
                <svg role="img" class=" iconSvg" title="" width="7" height="7">
                  <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointDown" />-->
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointDown"></use>
                </svg>
              </span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="mainNav" class="mainNav">
    <div class="container">
      <div id="logo" class="mainLogo">
        <h1>
          <a href="#">
            <svg role="img" class=" iconSvg" title="Ting Logo" width="69" height="69">
              <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#ting" />-->
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#ting"></use>
            </svg>
          </a>
        </h1>
        <a href="#" class="motto">mobile that makes sense.</a>
      </div>
      <nav id="propertyNav">
        <ul>
          <li>
            <a href="#">
            Rates
            </a>
          </li>
          <li>
            <a href="#">
            Coverage
            </a>
          </li>
          <li>
            <a href="#">
            Shop
            </a>
          </li>
          <li>
            <a href="#">
            BYOD
            </a>
          </li>
          <li>
            <a href="#">
            Activate
            </a>
          </li>
        </ul>
      </nav>
      <nav id="responsiveMenu" class="responsiveMenu">
        <ul>
          <li class="subnavParent responsiveToggleParent">
            <button id="responsiveToggle" class="trigger responsiveToggle">
              <svg role="img" title="Navigation" width="25" height="25">
                <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#mobileNav" />-->
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#mobileNav"></use>
              </svg>
            </button>
            <div class="subnav" id="mainSubnav">
              <ul>
                <li class=" active">
                  <a href="#">
                  Mobile
                  </a>
                </li>
                <li>
                  <a href="#">
                  Internet
                  </a>
                </li>
                <li>
                  <a href="#">
                  Rates
                  </a>
                </li>
                <li>
                  <a href="#">
                  Coverage
                  </a>
                </li>
                <li>
                  <a href="#">
                  Shop
                  </a>
                </li>
                <li>
                  <a href="#">
                  BYOD
                  </a>
                </li>
                <li>
                  <a href="#">
                  Activate
                  </a>
                </li>
                <li id="mobileHelpSubnavToggle" class="responsiveSubnavTrigger">
                  <button class="trigger">
                    Mobile Help
                    <svg role="img" class=" iconSvg" title="" width="13" height="13">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointRight" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointRight"></use>
                    </svg>
                  </button>
                </li>
                <li id="internetHelpSubnavToggle" class="responsiveSubnavTrigger">
                  <button class="trigger">
                    Internet Help
                    <svg role="img" class=" iconSvg" title="" width="13" height="13">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointRight" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointRight"></use>
                    </svg>
                  </button>
                </li>
                <li>
                  <a href="/blog">
                  Blog
                  </a>
                </li>
                <li>
                  <a href="/about">
                  About
                  </a>
                </li>
                <li id="userSubnavToggle" class="responsiveSubnavTrigger">
                  <button class="trigger">
                    Your account
                    <svg role="img" class=" iconSvg" title="" width="13" height="13">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointRight" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointRight"></use>
                    </svg>
                  </button>
                </li>
              </ul>
            </div>
            <div class="subnav" id="userSubnav">
              <ul>
                <li>
                  <button type="button" class="trigger mobileBackNav">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointLeft" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointLeft"></use>
                    </svg>
                    Back
                  </button>
                </li>
                <li class=" usage">
                  <a href="/account">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#signal" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#signal"></use>
                    </svg>
                    Current Usage
                  </a>
                </li>
                <li class=" alerts">
                  <a href="/account/all_alerts">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#bell" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#bell"></use>
                    </svg>
                    Usage Alerts
                  </a>
                </li>
                <li class=" devices">
                  <a href="/account/devices">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#tablet" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#tablet"></use>
                    </svg>
                    Device Settings
                  </a>
                </li>
                <li class=" billing">
                  <a href="/account/bill_history">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#money" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#money"></use>
                    </svg>
                    Billing History
                  </a>
                </li>
                <li class=" referrals">
                  <a href="/account/customer_referral">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#chat" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#chat"></use>
                    </svg>
                    Refer Your Friends
                  </a>
                </li>
                <li class=" activity">
                  <a href="/account/my_activity">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#calendar" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#calendar"></use>
                    </svg>
                    Account Activity
                  </a>
                </li>
                <li class=" settings">
                  <a href="/account/update_account_info">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#gears" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#gears"></use>
                    </svg>
                    Account Settings
                  </a>
                </li>
                <li class=" logout">
                  <a href="/account/logout">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#exit" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#exit"></use>
                    </svg>
                    Sign Out
                  </a>
                </li>
              </ul>
            </div>
            <div class="subnav" id="mobileHelpSubnav">
              <ul>
                <li>
                  <button type="button" class="trigger mobileBackNav">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointLeft" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointLeft"></use>
                    </svg>
                    Back
                  </button>
                </li>
                <li class=" serviceChat csStatus mobile online">
                  <a href="javascript:void(0);">
                  Chat
                  </a>
                </li>
                <li class=" mobile csStatus open">
                  <a href="tel:1-855-846-4389">
                  1 855 846 4389
                  </a>
                </li>
                <li class=" mail">
                  <a href="https://help.ting.com/hc/en-us/requests/new?ticket_form_id=49647">
                  Submit a Request
                  </a>
                </li>
                <li class=" settings">
                  <a href="https://help.ting.com/hc/en-us/categories/200316138">
                  Knowledgebase
                  </a>
                </li>
                <li>
                  <a href="https://help.ting.com/hc/communities/public/topics">
                  Forums
                  </a>
                </li>
                <li>
                  <a href="https://tingstatus.com">
                  Service Status
                  </a>
                </li>
              </ul>
            </div>
            <div class="subnav" id="internetHelpSubnav">
              <ul>
                <li>
                  <button type="button" class="trigger mobileBackNav">
                    <svg role="img" class=" iconSvg" title="" width="16" height="16">
                      <!--<use xlink:href="https://static.ting.com/static/images/icons.svg#pointLeft" />-->
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons.svg#pointLeft"></use>
                    </svg>
                    Back
                  </button>
                </li>
                <li class=" serviceChat csStatus internet online">
                  <a href="javascript:void(0);">
                  Chat
                  </a>
                </li>
                <li class=" internet csStatus open">
                  <a href="tel:1-855-846-4626">
                  1 855 846 4626
                  </a>
                </li>
                <li class=" mail">
                  <a href="https://help.ting.com/hc/en-us/requests/new?ticket_form_id=224148">
                  Submit a Request
                  </a>
                </li>
                <li class=" settings">
                  <a href="https://help.ting.com/hc/en-us/categories/200316148">
                  Knowledgebase
                  </a>
                </li>
                <li>
                  <a href="https://help.ting.com/hc/communities/public/topics">
                  Forums
                  </a>
                </li>
                <li>
                  <a href="https://tingstatus.com">
                  Service Status
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
