<section class="wrapperSection" id="faq">
  <h3 class="sectionHeader">FAQ</h3>
  <div class="faq">
    <strong class="faq_question">When will my device arrive?</strong>
    <div class="faq_answer">
      Most orders for in stock items ship out the same day if placed before 4pm Eastern. Shipping times vary depending on which shipping option you choose and where you are located. Delivery normally takes up to five business days for our standard shipping option. We use FedEx Home for most device orders and USPS Priority Mail for most SIM card orders. Depending on your area, FedEx Home normally delivers Tuesday through Saturday and the USPS normally delivers Monday through Saturday.
    </div>
  </div>
  <div class="faq">
    <strong class="faq_question">Do you offer express shipping?</strong>
    <div class="faq_answer">
      Yes. During checkout, you'll have the option to choose FedEx Express Saver (which normally takes up to three business days) or FedEx 2Day (which normally takes two business days). FedEx Express delivers Monday through Friday.
    </div>
  </div>
  <div class="faq">
    <strong class="faq_question">Do you offer $0 phones?</strong>
    <div class="faq_answer">
      No. As we don't deal in contracts, we also don't deal in $0 or otherwise heavily subsidized devices.
    </div>
  </div>
  <div class="faq">
    <strong class="faq_question">Can I get device insurance for my purchase?</strong>
    <div class="faq_answer">
      Device insurance is not something we currently offer. However, you can certainly get insurance through a third party if you choose.
    </div>
  </div>
  <div class="faq">
    <strong class="faq_question">Does Ting offer a guarantee for devices I purchase?</strong>
    <div class="faq_answer">
      Absolutely. If you have any trouble with a device you've purchased from Ting, please get in touch and we'll make it right.
    </div>
  </div>
  <div class="faq">
    <strong class="faq_question">Why are you asking if the address I supplied is a business or residence?</strong>
    <div class="faq_answer">
      We ask this question because it affects shipping. Shipping to a residential address means after-hours and sometimes weekend delivery. Shipping to a business address means packages arrive Monday to Friday in the 9-5 hours.
    </div>
  </div>
  <div class="faq">
    <strong class="faq_question">How do I activate my device?</strong>
    <div class="faq_answer">
      Activating a device on Ting is easy. Head straight to <a href="/go">ting.com/go</a>, or click the <a href="/go">Activate link</a> in the navigation once you've got your device.
    </div>
  </div>
  <div class="faq">
    <strong class="faq_question">Can I move my existing phone number to this new device?</strong>
    <div class="faq_answer">
      Absolutely. If you're moving from another carrier to Ting you have the option to "port" (bring) your number along. Once you have your Ting device in hand, head to <a href="/go">ting.com/go</a> or click the <a href="/go">Activate link</a> in the navigation to get started.
    </div>
  </div>
</section>
