<footer class="footer">
  <div class="container">
    <span class="copyright">© Ting 2016</span>
    <nav class="footerNav">
      <ul>
        <li><a href="#" title="Ting Inc. Privacy Policy">Privacy policy</a></li>
        <li><a href="#">Terms of service</a></li>
        <li><a href="#">Site map</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <p class="footnote">* Not all devices containing the Sprint trademark are eligible; please contact Ting to determine eligibility. Specific restrictions and exclusions apply. Some features of the device may not function properly when activated with Ting. Please ask Ting about any limitations. <br><br>* Sprint is a trademark of Sprint.</p>
  </div>
</footer>
